.Story {
    width: 40%;
    margin: auto;
}
.SocialContent{
    margin: 0.5rem 0.5rem;
}
.SocialContents {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 448px) {
    aside {
        width: 125px;
        margin: auto;
    }
}
@media (min-width: 444px) {
    aside {
        margin-right: 12.8px;
        margin-left: 12.8px;
    }
}

.Container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 18rem 2rem 2rem auto;
}

.ImageContainer {
    width: 100%;
    max-width: 40rem;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.Image {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.Name {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 5px;
}

.Profession {
    text-align: center;
    margin: 0;
}

.Origin {
    text-align: center;
    margin: 0;
}

.Hobby {
    text-align: center;
    margin: 0;
}

.StoryText {
    padding: 0 10px;
    text-align: justify;
}



@media (min-width: 40rem) {
    .Story{
        min-width: 80rem;
        margin: auto;
    }
    .Container{
        margin: auto 10rem;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1rem 2rem 1rem 2rem 1rem 2rem 1rem 2rem 1rem 2rem auto; /*name profession hobby origin */
    }

    .ImageContainer {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 9;
    }

    .Name {
        text-align: left;
        margin: 0 1rem;
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }

    .Profession {
        text-align: left;
        margin: 0 1rem;
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 4;
        grid-row-end: span 1;
    }

    .Origin {
        text-align: left;
        margin: 0 1rem;
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 6;
        grid-row-end: span 1;
    }

    .Hobby {
        text-align: left;
        margin: 0 1rem;
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 8;
        grid-row-end: span 1;
    }

    .StoryText {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 11;
        grid-row-end: -1;
    }
}