.Business {
    width: 40%;
    margin: auto;
}

aside {
    float: right;
    width: 250px;
    text-align: center;
    font-size: 20px;
    padding: 20px 25px;
    margin-bottom: 15px;
}

@media (min-width: 448px) {
    aside {
        width: 115.2px;
    }
}
    @media (min-width: 444px) {
        aside {
            margin-right: 12.8px;
            margin-left: 12.8px;
        }
    }