.Card {
    width: 30%;
    height: 400px;
    margin: 2px 1.66%;
    background-color: #f6f2f2;
    box-shadow: 5px 5px 5px grey;
    scroll-behavior: smooth;
    scroll-margin-block: initial;
    border-radius: 2px;
    overflow: hidden;
}

@media (max-width: 575.98px) {
    .Card {
        width: 90%;
        margin: 2px 5%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .Card {
        width: 45%;
        margin: 2px 2.5%;
    }
}

@media (min-width: 768px) {
    .Card {
        width: 30%;
        margin: 2px 1.666%;
    }
}

.Image {
    height: 60%;
    width: 100%;
}

.Title {
    height: 5%;
    margin: 0 5px;
    font-weight: bold;
}

.Text {
    height: 25%;
    margin-left: 5px;
    overflow: hidden;
}

.Link {
    height: 10%;
    align-content: center;
    margin-left: 5px;
}