.Card {
    width: 30%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    text-align: center;
    scroll-behavior: smooth;
    border-radius: 1px;
}

.Card:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 575.99px) {
    .Card {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 576px) and (max-width: 850px) {
    .Card {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (min-width: 850px){
    .Card {
        width: 30%;
        margin-left: 1.666%;
        margin-right: 1.666%;
    }
}

.Image {
    height: 48%;
    width: 100%;
}

.Name {
    height: 8%;
    margin-top: 5px;
    font-weight: bolder;
    font-size: 1.2rem;
}

.Title {
    height: 8%;
    font-style: oblique;
    font-size: 1.1rem;
}

.Text {
    height: 28%;
    margin-left: 5px;
    overflow: hidden;
}

.Link {
    height: 8%;
    width: 100%;
    cursor: pointer;
    background-color: #c4d0c7;
    color: #ffffff;
    border: none;
    text-decoration: none;
}